.background-container{
    background-image: url(/icons/background-1.png) ;
    height: 100%;
    background-position: center;
    background-size: cover;
}

@media (max-width: 600px){
    .background-container{
        background-position: left;
    }
}

.cap-container{
    background: rgba(18, 17, 17, 0.884);
}

.cap{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 600px){
    .cap{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px){
    .cap{
        display: flex;
        flex-direction: column;
    }
}


.name-2{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 600;
font-size: 43px;
line-height: 43px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.name-3{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 28px;
color: #FFFFFF;
}

@media (max-width: 600px){
    .name-2{
        text-align: center;
    }
}

@media (max-width: 768px){
    .name-2{
        text-align: center;
    }
}


.categories-container{
 display: flex;
 flex-direction: row;
 align-items: center;
 flex-wrap: wrap;
 
 
}

@media (max-width: 600px){
    .categories-container{
     
    }
}

@media (max-width: 768px){
    .categories-container{
        display: flex;
       justify-content: space-between;
    }
}


.categories{
    font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #B9B5BD;
padding: 0 10px;
text-decoration: none;
}

.limiter{
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    
}

.container{
    width: 58%;
    opacity: 0.8;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.81) 2%, rgba(0, 0, 0, 0.589424) 89.15%, rgba(0, 0, 0, 0) 114.5%);
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px){
    .container{
        width: 100%;
        box-sizing: border-box;
        
    }
}

.kruglyashi-pictures{
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    margin-left: 40px;
}

@media (max-width: 600px){
    .kruglyashi-pictures{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        margin-left: 0;
    }
}

.kruglyashi{
box-sizing: border-box;
width: 15px;
height: 15px;
left: 399px;
top: 198px;
border: 2px solid #FFFFFE;
border-radius: 15px;
margin: 5px 30px;
}

.kruglyashi-color{
box-sizing: border-box;
width: 15px;
height: 15px;
left: 399px;
top: 198px;
border: 2px solid #FFFFFE;
border-radius: 15px;
background-color: #E89B2B;
margin: 5px 30px;
}

.head{
    margin: 40px 0;
}

.time{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 400;
font-size: 82px;
line-height: 81px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.discount{
padding-top: 20px;
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 24px;
color: #FFFFFF;
}

.button-container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.button{
    border: 1px solid #BEBEC8;
    box-sizing: border-box;
    
}

.white-button{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
padding: 5px 10px;
background: transparent;
}

.orange-button {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #E89B2B;
    padding: 5px 10px;
    background: transparent;
}

.text{
    margin-top: 30px;
}

.offers{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 30px;
color: #FFFFFF;
}

.performance{
 padding-top: 20px;
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 20px;
color: #FFFFFF;
}

.tetx-color{
 font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
color: #E89B2B;
text-decoration: none;
}

.icons-container{
display: flex;
flex-direction: row;
width: 10px;
height: 9px;
}

.icons{
    width: 100%;
    height: 100%;
}

.background-container-2{
    background: #E89B2B;
    height: 6px;
}

.background-container-3{
    background: black;
    height: 250px;
}

.heading{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 600;
font-size: 83px;
line-height: 82px;
color: rgba(255, 255, 255, 0.14);
position: absolute;
top: 100px;
left: 120px;
}

.subtitle{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 34px;
color: #FFFFFF;
position: absolute;
top: 150px;
left: 160px;
}

@media (min-width: 390px) and (max-width: 600px){
    .heading{
        left: 20px;
        top: 60px;
    }
    .subtitle{
      top: 110px;
      left: 60px;
        
    }
    

}


.background-container-4{
    background: black;
    padding-bottom: 20px;
}

.limiter-2{
    display: flex;
    flex-direction: row;
   
}

.limiter-3{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

@media (max-width: 600px){
    .limiter-2{
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        
    }
    .limiter-3{
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        
    }
    

}

.picture{
    background-image: url(/icons/Rectangle6.png);
    background-position: center;
    height: 100%;
    width: calc(100% / 3);
    
}

.picture-2{
    background-image: url(/icons/Rectangle\ 7.png);
    background-position: center;
    height: 100%;
    width: calc(100% / 3);
    margin: 0 15px;
}

.picture-3{
    background-image: url(/icons/Rectangle\ 8.png);
    background-position: center;
    height: 100%;
    width: calc(100% / 3);
}

.picture-4{
    background-image: url(/icons/Rectangle\ 9.png);
    background-position: center;
    height: 100%;
    width: calc(100% / 3);
    
}



.picture-5{
    background-image: url(/icons/Rectangle\ 10.png);
    background-position: center;
    height: 100%;
    width: calc(100% / 3);
    margin: 0 15px;
}

.picture-6{
    background-image: url(/icons/Rectangle\ 11.png);
    background-position: top;
    height: 100%;
    width: calc(100% / 3);
}

@media (max-width: 600px){
    .picture{
        width: 100%;
        margin: 10px 5px;
        
    }
    .picture-2{
        width: 100%;
        margin: 10px 5px;
    }
    .picture-3{
        width: 100%;
        margin: 10px 5px;
    }
    .picture-4{
        width: 100%;
        margin: 10px 5px;
        
    }
    .picture-5{
        width: 100%;
        margin: 10px 5px;
    }
    .picture-6{
        width: 100%;
        margin: 10px 5px;
    }
}


.for-container{
    background: #202021;
    width: 60%;
    height: 100%;
    margin-top: 230px;
    padding-top: 10px;
}


.for-text{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 38px;
color: #FFFFFF;
}

.partition{
    background-color: #202021;
    height: 6px;
    width: 100%;
}


.button-container-2{
    display: flex;
    flex-direction: row;
    background: linear-gradient(0deg, rgba(32, 32, 33, 0.79) 0%, rgba(32, 32, 33, 0) 231.77%);
}

.button-2{
    box-sizing: border-box;
    margin: 15px auto;
}

.button-3{
   
    box-sizing: border-box;
    margin: 15px auto;
    
}

.white-button-2{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
padding: 5px 10px;
background: transparent;
border: 1px solid #FFFFFF;
}

.orange-button-2 {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    background-color: #E89B2B;
    color: #FFFFFF;
    padding: 5px 10px;
    border: none;
    
}

.background-container-5{
    background-image: url(/icons/background-2.png);
}

.delimiter{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 30px 0;
}

@media (max-width: 600px){
    .delimiter{
        flex-direction: column;
        padding: 0 10px;
    }
}

.container_address{
    background: rgba(16, 16, 16, 0.86);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: calc(100% / 3 - 30px);
    margin: 0 15px;
}

@media (max-width: 600px){
    .container_address{
        width: calc(100% / 1 - 60px);
        margin: 15px 30px;
    }
}


.column{
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
}

@media (max-width: 600px){
    .column{
        text-align: center;
    }
}


.column-text{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 32px;
color: #FFFFFF;
}

.column_text-color{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 32px;
color: #C88930;
}

.column_text-color-1{
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: #C88930;
    padding-bottom: 60px;
    }
    

.row-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

@media (max-width: 600px){
    .row-info{
        justify-content: center;
    }
}


.telephone-icon{
   width: 27px;
   height: 27px;
   object-position: center;
   object-fit: cover;
   margin-right: 10px;
}

.telephone-icon-2{
    width: 100%;
    height: 100%;
}

.number{
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 23px;
color: #FFFFFF;

}

.row-info-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

@media (max-width: 600px){
    .row-info-2{
        justify-content: center;
    }
}


.telephone-icon-3{
    width: 25px;
    height: 33px;
    object-position: center;
    object-fit: cover;
    margin-right: 10px;
 }

 .address{
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
 }

 .background-container-6{
     background: black;
 }

 .backdrop{
     background-image: url(/icons/Rectangle_44.png);
     background-position: center;
     background-size: cover;
 }

 .class{
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    padding: 20px 60px;
 }

 @media (max-width: 600px){
    .class{
        font-size: 40px;
        padding: 10px 30px;
        text-align: center;
    }

}

 .button-4{
    box-sizing: border-box;
    margin: 0 60px;
    padding-bottom: 20px;
}

@media (max-width: 600px){
    .button-4{
        display: flex;
        justify-content: center;
    }

}

.orange-button-4 {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    background-color: #E89B2B;
    color: #FFFFFF;
    padding: 10px 50px;
    border: none;
    
}

.background-photo{
    background-image: url(/icons/Rectangle_45.png);
}

.background-photo-2{
    background-image: url(/icons/Rectangle_51.png);
}

.background-photo-3{
    background-image: url(/icons/Rectangle_53.png);
   
    
}

.criterion{
    background-position: center;
    background-size: cover;
    width: calc(100% / 3 - 20px);
    margin: 0 10px;  
}

@media (max-width: 600px){
    .criterion{
        width: 100%;
        margin: 10px 0;
    }
   
}


.translucent{
    padding: 20px;
    margin: 15px;
    background: rgba(0, 0, 0, 0.52);
    border: 1px solid #E89B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.minimum{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 34px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-align: center;
padding-bottom: 25px;

}

.kollichestvo{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.line-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.price{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 29px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.price-2{
padding-left: 5px;
font-family: 'Source Sans 3';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 57px;
color: #E89B2B;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-5{
    box-sizing: border-box;
   
}


.orange-button-5 {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    background-color: #E89B2B;
    color: #FFFFFF;
    padding: 5px 15px;
    border: none;
    
}

.social_network{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 0;

}

.network-text{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 32px;
color: #FFFFFF;
}

.facebook{
    width: 24px;
    height: 23.7px;
    object-fit: cover;
    object-position: center;
    margin: 0 5px;
}

.facebook-icon{
    width: 100%;
    height: 100%;
}

.school_contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
}

@media (max-width: 600px){
    .school_contacts{
       flex-direction: column;
    }
   
}


.transfers{

font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #B9B5BD;
}

@media (max-width: 600px){
    .transfers{
        padding-left: 15px;
    }

}

.touch{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 32px;
color: #FFFFFF;
padding-bottom: 20px;
}


.address-2{
 padding-top: 10px;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 26px;
color: #FFFFFF;
}

@media (max-width: 600px){
    .touch{
        text-align: center;
    }

    .address-2{
        text-align: center;
    }
}


.number-2{
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 23px;
padding-left: 20px;
color: #FFFFFF;
}

